@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-dark: #1d4ed8;
  --color-primary-foreground: #ffffff;

  --color-secondary: #4b5563;
  --color-secondary-foreground: #ffffff;

  --color-accent: #4744e3;
  --color-accent-foreground: #ffffff;

  --color-background: #ffffff;
  --color-foreground: #111827;

  --color-surface: #ffffff;
  --color-surface-secondary: #f9fafb;

  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-display: "Jost", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground;
    position: static !important;
    top: 0 !important;
  }
  a {
    text-decoration: none !important;
  }

  *,
  *::before,
  *::after {
    border-radius: 0 !important;
  }
}

/* Next.js Styled Language Switcher Styles */
.lang-options-menu.active {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(0) !important;
  pointer-events: auto !important;
}

#lang-select-trigger.open #lang-select-chevron {
  transform: rotate(180deg);
}

.next-lang-switcher {
  font-family: "Inter", sans-serif;
}

/* Cleanup */
.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-icon,
#goog-gt-tt {
  display: none !important;
}
